<div class="spoti-player">
  <iframe src="https://open.spotify.com/embed/album/{{albumId}}" width="300" height="380" frameborder="0"
    allowtransparency="true" allow="encrypted-media"></iframe>
  <button class="formButton"><a href="/">Back</a></button>
</div>