<ul class="artists-box">
  {{#each artistAlbums}}
  <div class="album-box">
    <li>
      <img src="{{this.images.1.url}}" alt="" />
      <button class="myButton"><a href="/album/{{this.id}}">View Tracks</a></button>
    </li>
  </div>
  {{/each}}
</ul>