<ul class="artists-box">
  {{#each artistElements}}
  <div class="album-box">
    <li>
      <img class="card-img-top" src="{{this.images.1.url}}" alt="Card image cap">
      <p>{{this.name}}</p>
      <button class="myButton"><a href="/albums/{{this.id}}">View Albums</a></button>
    </li>
  </div>
  {{/each}}
</ul>