<div class="form-container">
  <div class="form-itself">
    <form action="/artists" method="GET">
      <input type="text" name="artistList" placeholder="Enter an artist..." size="65">
      <button class="formButton">Search</button>
    </form>
  </div>
</div>